In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [7]:
df_cardio = pd.read_csv('data/cardio.csv', sep=';')
df_cardio.drop_duplicates(inplace=True)
df_cardio.drop(['id'], axis=1)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
69995,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [9]:
X = df_cardio.drop('cardio', axis=1)
y = df_cardio['cardio']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, shuffle=True, test_size = 0.2)

In [11]:
random_forest = RandomForestClassifier(n_estimators=300).fit(X_train, y_train)
y_pred = random_forest.predict(X_test)
acc_score = metrics.accuracy_score(y_test, y_pred)

In [12]:
acc_score

0.7335